{% extends 'base.html' %}

{% block conteudo %}


<div class= 'row'>
    <div class="col-md-3 mt-5 text-center"></div>

    <div class="col-md-6 mt-5 text-center">

<main class="px-3">
        <h1 class="text-white">Este sou eu</h1>
<div class="alert alert-primary" role="alert">
                      
    <p class="lead">Me chamo Abraão Campelo, sou Designer Gráfico, empreendedor na @Campelográfica e iniciante na área de tecnologia buscando me aprimorar
        cada dia mais, me especializando em Frontend.

    </p>
</div>
    <p class="lead">
     
    </p>
</main>
</div>

    <div class="col-md-3 mt-5 text-center"></div>
</div>


{% endblock %}

